.page-header
  h1 Registration
form
  .form-group
    label(for='exampleInputEmail1') Email address
    input#exampleInputEmail1.form-control(type='email', placeholder='Email')
  .form-group
    label(for='exampleInputPassword1') Password
    input#exampleInputPassword1.form-control(type='password', placeholder='Password')
  .form-group
    label(for='exampleInputPassword1') Password one more time
    input#exampleInputPassword1.form-control(type='passwordCheck', placeholder='Password one more time')
  button.btn.btn-default(type='submit') Register

